<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Claim Documents</title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

</head>

<body>

<div class="page-container">

    <div class="form-card">

        <h2>📄 Claim Documents</h2>

        <h3>Upload Document</h3>

        <form th:action="@{/claim-documents/upload}"
              method="post"
              enctype="multipart/form-data">

            <input type="hidden"
                   name="claimId"
                   th:value="${claimId}">

            <div class="form-group">

                <label>Document Name</label>

                <input type="text"
                       name="documentName"
                       required>

            </div>

            <div class="form-group">

                <label>Select Document</label>

                <input type="file"
                       name="file"
                       required>

            </div>

            <button type="submit"
                    class="update-btn">

                Upload Document

            </button>

        </form>
        <br>

        <table>

            <thead>

            <tr>

                <th>Document Name</th>

                <th>Document Path</th>

            </tr>

            </thead>

            <tbody>

            <tr th:each="doc : ${documents}">

                <td th:text="${doc.documentName}">
                </td>

                <td th:text="${doc.documentPath}">
                </td>

            </tr>

            </tbody>

        </table>

        <br>

        <a th:href="@{/claims}"
           class="back-btn">

            ← Back To Claims

        </a>

    </div>

</div>

</body>

</html>