<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>
        MetLife Insurance Portal
    </title>

    <link rel="stylesheet"
          th:href="@{/css/style.css}">

</head>

<body>

<header class="welcome-header">

    <h1>

        🛡 METLIFE INSURANCE PORTAL

    </h1>

</header>

<section class="hero-section">

    <h2>

        Welcome To Insurance Portal

    </h2>

    <p>

        Protecting Your Future With Confidence

    </p>

    <p>

        Your security today creates a stronger tomorrow.

    </p>

    <br>

    <a th:href="@{/login-page}"
       class="login-btn">

        Login

    </a>

</section>

<section class="features-section">

    <h2>

        Why Choose Us ?

    </h2>

    <div class="feature-grid">

        <div class="feature-card">

            <h3>

                🛡 Secure Policies

            </h3>

            <div class="feature-content">

                Health Insurance<br>
                Life Insurance<br>
                Vehicle Insurance<br>
                Home Insurance

            </div>

        </div>

        <div class="feature-card">

            <h3>

                💳 Easy Payments

            </h3>

            <div class="feature-content">

                UPI<br>

                Debit Card<br>

                Credit Card<br>

                Net Banking

            </div>

        </div>

        <div class="feature-card">

            <h3>

                📢 Fast Claims

            </h3>

            <div class="feature-content">

                Claim Request<br>

                Claim Amount<br>

                Claim Reason<br>

                Claim Tracking

            </div>

        </div>

    </div>

</section>

<footer class="portal-footer">

    <h3>

        MetLife Insurance Portal

    </h3>

    <p>

        Protecting What Matters Most ❤️

    </p>

    <p>

        © 2026 All Rights Reserved

    </p>

</footer>

</body>

</html>